---
layout: page
title: About Me
permalink: /about/
---
˘
<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>$whoami</h1>
                    <p>I'm a programmer.</p>
                    <p>I love programming.</p>
                    <p>Writing code is my life work.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section-bg">
<!-- Career Start -->
<section id="career">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>CAREER</h1>
            </div>
            <div class="col-md-9 col-md-offset-3">
                {% for career in site.data.careers %}
                    <div class="career-item" align="left">
                        <div class="job">
                            <h2>{{ career.job }}</h2>
                        </div>
                        <div class="company" align="left">
                            <h3>{{ career.company }}</h3>
                        </div>
                        <div class="location-period" align="left">
                            <h5>{{ career.location-period }}</h5>
                        </div>
                        <div class="description" align="left">
                            <h4>{{ career.description }}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Award Start -->
<section id="award">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>AWARD</h1>
            </div>
            <div class="col-md-9 col-md-offset-3">
                {% for award in site.data.awards %}
                <div class="awards-item">
                    <a href="{{ award.url }}">
                        <div class="title" align="left">
                            <h3>{{ award.title }}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="media">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>MEDIA</h1>
            </div>
            <div class="col-md-9 col-md-offset-3">
                {% for media in site.data.medias %}
                <div class="media-itme">
                    <a href="{{ media.url }}">
                        <div class="title" align="left">
                            <h3>{{ media.title }}</h3>
                        </div>
                    </a>
                    <div class="date-publisher" align="left">
                        <p>{{ media.date }} at {{ media.publisher }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
</div>

<script type="text/javascript" src="/js/change_background_color.js"></script>
